/.idea
chapter1/target
chapter1/chapter1.iml
chapter2-optimizing/target
chapter2-optimizing/chapter2-optimizing.iml
DesignPatternsBookExercises.iml
chapter3-speeding-up-tests/target
chapter3-speeding-up-tests/chapter3-speeding-up-tests.iml